{% extends "layout.html" %}

{% block title %}
    Group
{% endblock %}

{% block body %}
<!-- Nav -->
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #FD8F52;">
    <div class="container">
        <div class="collapse navbar-collapse ms-3 mt-2" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Groups
                </a>
                <ul class="dropdown-menu">
                    {% for group in groups %}
                    <li><a class="dropdown-item" href="/group/{{ group["id"] }}">{{ group["name"] }}</a></li>
                    {% endfor %}                     
                </ul>
            </li>
            </ul>
        </div>
        <div class="navbar-collapse collapse justify-content-center me-4">
            <ul class="navbar-nav">
                <h1>BeyondBounds</h1>
            </ul>
        </div>
        <div class="navbar-collapse collapse me-4" style="display: flex; justify-content: flex-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Main -->
<div class="container-fluid" style="background-color: #FFDCA2;">
    <div class="text-center ms-5">
        <br>
        <h4 style="color: #FE676E">{{ group_name }}</h4>
    </div>
    <br>
    <div class="row ms-4">
        <div class="col-sm-7">
            
            <p class="text-start">Everybody's availability</p>
            <div class="p-4" id="calendar"></div>
            <script src="/static/calendar.js"></script>
        </div>

    <div class="col-sm-5">
        <p class="text-start ms-4">Members</p>
      
                <div class="members mt-4 ms-4">
                    <ul>
                        {% for member in members %}
                        <li>
                            <p style="text-align: start; color: white;">{{ member }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Button trigger modal -->
                <p class="mt-2" style="color: #FE676E;" data-bs-toggle="modal" role="button" data-bs-target="#exampleModal" >+ add a new member</p>

                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <p class="modal-title fs-5" id="exampleModalLabel">Add a new member</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/api/addmember" method="post">
                                <div class="form-group text-start">
                                    <label for="group-name" class="col-form-label">New member username:</label>
                                    <input autocomplete="off" type="text" class="form-control" id="member-username" name="member_username">
                                    <input type="hidden" id="group_id" name="group_id" value="{{ group_id }}">
                                    <div class="row mt-4 justify-content-end">
                                        <div class="col-2">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                        <div class="col-2">
                                            <button type="submit" class="btn btn-primary" style="background-color: #FD8F52; border-color: #FD8F52;">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>


                <br>
                <p class="text-start ms-4">Meetings proposals</p>
                <div class="meetings ms-4">
                    <div class="row ms-4">
                        <div class="col-sm-6">
                            <p style="text-align: start; color: white;">24th December 13:00</p>
                        </div>
                        <div class="col-sm-2">
                            <p style="text-align: start; color: white; font-size: 1.3vw;">accept</p>
                        </div>
                        <div class="col-sm-2">
                            <p style="text-align: start; color: white; font-size: 1.3vw;">decline</p>
                        </div>
                    </div>
                </div>
                <!-- Button trigger modal -->
                <p class="mt-2" style="color: #FE676E;" data-bs-toggle="modal" role="button" data-bs-target="#meetingsModal" >+ add a new meeting</p>

                <!-- Modal -->
                <div class="modal fade" id="meetingsModal" tabindex="-1" aria-labelledby="meetingsModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <p class="modal-title fs-5" id="meetingsModalLabel">Add a new member</p>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/api/addmeeting" method="post">
                                <div class="form-group text-start">
                                    <label for="group-name" class="col-form-label">New meeting proposal:</label>
                                    <input autocomplete="off" type="datetime-local" class="form-control" id="new-meeting" name="new_meeting">
                                    <input type="hidden" id="group_id" name="group_id" value="{{ group_id }}">
                                    <div class="row mt-4 justify-content-end">
                                        <div class="col-2">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                        <div class="col-2">
                                            <button type="submit" class="btn btn-primary" style="background-color: #FD8F52; border-color: #FD8F52;">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>


                

    </div>
</div>
{% endblock %}