{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row vh-100">
        <!-- Left side -->
        <div class="col-sm-3" id="mainSide">
            <img src="/static/logo.png" class="img-fluid mt-4" alt="BeyondBounds">
            <h1>BeyondBounds</h1>
        <div class="time mt-4 ms-3 mb-5 position-absolute bottom-0">
            <h2 class="lh-1 day"></h2>
            <h3 class="lh-1 month"></h3>
            <h4 class="lh-1 weekday"></h4>
        </div>
        <script>
            const date = new Date();
            document.querySelector('.day').innerHTML = date.toLocaleDateString('en-GB', { day: 'numeric' });
            document.querySelector('.month').innerHTML = date.toLocaleDateString('en-GB', { month: 'long' }) + ',';
            document.querySelector('.weekday').innerHTML = date.toLocaleDateString('en-GB', { weekday: 'long' });
        </script>
        </div>
        <!-- Right part -->
        <div class="col-sm-9" id="mainInfo">
             <!-- Your account button -->
            <div class="row position-absolute end-0 mt-4 me-4">
                <div class="col-sm-3 me-0">
                    <img src="/static/user.png" class="img-fluid text-wrap">
                </div>
                <div class="col-sm-9">
                    <button type="button" class="btn">Your account</button>
                </div>
            </div>
            <div class="container" style="margin-top: 11vh;">
                <div class="row">
                    <!-- Friend groups -->
                    <div class="col-sm-8">
                        <div class="groups ms-4 mt-4 text-center">
                            <br>
                            <h4 id="groups">Your friend groups</h4>
                            <!-- Carousel -->
                            <div class="container text-center my-3">
                                <div class="row mx-auto my-auto justify-content-center">
                                    <div id="recipeCarousel" class="carousel carousel-dark slide">
                                        <div class="carousel-inner" role="listbox">
                                            {% for first in range(0, group_number) %}
                                                {% if first==0 %}
                                                <div class="carousel-item active">
                                                    {% for group in groups[:4] %}
                                                    <div class="col-md-3">
                                                        <p>{{ group }}</p>
                                                        <img src="/static/circle.png" class="img-fluid circle">
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                {% else %}
                                                <div class="carousel-item">
                                                    {% for group in groups[first:first+4] %}
                                                    <div class="col-md-3">
                                                        <p>{{ group }}</p>
                                                        <img src="/static/circle.png" class="img-fluid circle">
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>

                                        <button class="carousel-control-prev" type="button" data-bs-target="#recipeCarousel" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button" data-bs-target="#recipeCarousel" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- <script>
                                
                                let items = document.querySelectorAll('.carousel .carousel-item')
                                const maxPerSlide = 4
                                
                                if (items.length < maxPerSlide) {

                                }

                                items.forEach((el) => {
                                    let next = el.nextElementSibling
                                    for (let i=1; i<maxPerSlide; i++) {
                                        if (!next) {
                                            if (items.length >= maxPerSlide){
                                                // wrap carousel by using first child
                                                next = items[0]
                                            }
                                            else {
                                                next = null
                                            }
                                        }
                                        let cloneChild = next.cloneNode(true)
                                        el.appendChild(cloneChild.children[0])
                                        next = next.nextElementSibling
                                    }
                                })
                            </script> -->
                            <form action="/" method="post">
                                <input autocomplete="off" autofocus class="form-control" name="group_name" placeholder="Group name" type="text">
                                <button type="submit" class="btn">Add a new group</button>
                            </form>
                        </div>
                    </div>
                    <!-- Sticky note -->
                    <div class="col-sm-4">
                        <img src="/static/sticky.png" class="img-fluid">
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <!-- Upcomings meetings -->
                    <div class="col-sm-8">
                        <div class="groups2 ms-4 mt-4 text-center">
                            <br>
                            <h4 id="groups">Upcoming meetings</h4>
                            <div class="white mx-auto mt-4">
                                <div class="row">
                                    <div class="col mt-4">
                                        <p style="color: #FE676E; font-size: 2vw;">15th January</p>
                                        <p>14:00 Girlz</p>
                                        <p> 16:00 Job buddies</p>
                                    </div>
                                    <div class="col mt-4">
                                        <p style="color: #FE676E; font-size: 2vw;">23th January</p>
                                        <p>09:00 Group2</p>
                                        <p>17:00 Group1</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Quote -->
                    <div class="col-sm-3 ms-4">
                        <blockquote class="blockquote">
                            <p style="margin-top: 90px;">“Even though we have so much to do and we live in different corners of the world, we can still stay connected”</p>
                          </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}